@import url(https://fonts.googleapis.com/css?family=Nunito);

body {
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  height: 100vh;
  background: center/cover no-repeat url("../assets/purple_background.jpg");
}

.wrapper {
  margin-top: 50px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-content {
  padding: 50px;
  width: 100%;
  max-width: 600px;
  min-width: 200px;
  background-color: #f2f3f8;
  border-radius: 10px;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  margin-bottom: 20px;
}

#email_signin,
#password_signin {
  padding: 15px;
  font-size: 1em;
  border-radius: 50px;
  border: unset;
  background-color: #d9dbdb;
  color: rgb(8, 8, 8);
}

.btn_signup {
  width: 150px;
  align-self: center;
  padding: 15px;
  border-radius: 50px;
  border: unset;
  background-color: #3f5bd8;
  color: #fff;
  font-size: 1.1em;
  margin-top: 20px;
  cursor: pointer;
}

#sub-signin {
  margin-top: 2px;
  text-align: center;
}

#link_acc {
  text-decoration: none;
  color: #3f5bd8;
  padding-left: 1%;
}

.logo_mbm {
  background: center/cover no-repeat url("../assets/mbm-logo.png");
  height: 110px;
  width: 110px;
  border-radius: 50%;
  margin-left: 41%;
}

#title {
  font-size: x-large;
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
}
