#container {
    align-items: center;
    padding: 10px;
    background: center/cover no-repeat url("../../../public/bg2.jpg");
    height: 700px;
    color: rgb(6, 3, 10);
}

#logo {
    background: center/cover no-repeat url("../../../public/mbm-logo.png");
    height: 150px;
    width: 150px;
    margin-left: 650px;
    margin-top: 100px;
    border-radius: 50%;
    border: 2px solid rgb(233, 194, 86);
}

#can {
    border-radius: 12px;
    height: 50px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(12, 11, 8);
    padding: 10px;
    width: 150px;
    background-color: rgb(244, 239, 248);
    /* border: 2px solid rgb(247, 246, 199); */
    /* margin-left: 700px;
    margin-top: 25px; */
}

#acc {
    border-radius: 12px;
    height: 50px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(245, 240, 227);
    padding: 10px;
    width: 150px;
    background-color: rgb(38, 145, 245);
    margin-left:20px;
    /* border : 2px solid blue */
    /* margin-top: 25px; */
}
#buttons{
    margin-left: 900px;
    margin-top: 50px;
}
#head{
    margin-top: 40px;
    margin-left: 235px;
    font-family: Arial, Helvetica, sans-serif ;
    font-size: 40px;
}
p{
    margin-top: 25px;
    margin-left: 235px;
    font-family: cursive; 
    font-size: 20px;
}
#can:hover{
    background-color: rgb(247, 246, 199);
    cursor: pointer;
}
#acc:hover{
    background-color: rgb(26, 23, 230);
    cursor: pointer;
}