.container{
    display: flex;
    flex-direction: row;
    background: center/cover no-repeat url("../assets/bg3.jpg");
    height: 750px;
    /* z-index: -1;
    opacity: 0.8; */
}
.left {
    display: flex;
    flex-direction: column;
    background: center/cover no-repeat url("../assets/left.jpg");
    margin-top: 40px;
    height: 670px;
    width: 450px;
    margin-left: 75px;
    color: cornsilk;
    /* opacity: 1;
    z-index: 0; */
}
.details{
    display: flex;
    flex-direction: column;
    /* margin-top: 20px; */
}
.head{
    margin-top: 40px;
    margin-left: 90px;
    font-family: cursive;
    font-size: 70px;
}
.para{
    font-size: 25px;
    padding: 35px;
    font-family:cursive ;
    margin-left: 20px;
}
.logo {
    background: center/cover no-repeat url("../assets/mbm-logo.png");
    height: 150px;
    width: 150px;
    margin-left: 150px;
    /* padding-top: 50px; */
    border-radius: 50%;
}
.right{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    background-color: cornsilk;
    color: rgb(61, 105, 228);
    height: 670px;
    width: 900px;
}
.head-2{
    margin-top: 30px;
    margin-left: 220px;
    font-family: cursive;
    font-size: 50px;
    
}
.item{
    margin-left: 90px;
    margin-top: 15px;
    font-size: 20px ;
    padding: 5px;
    font-family: cursive;
    border-radius: 15px;
    /* color: rgb(20, 18, 18); */
    border: 3px solid rgb(33, 144, 248);
    width: 700px;
    text-align: center;
}
.button{
    border-radius: 16px;
    height: 50px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: cornsilk;
    padding: 10px;
    width: 175px;
    background-color: rgb(83, 114, 248);
    margin-left: 360px;
    margin-top: 50px;
}
.button:hover{
    background-color: rgb(24, 66, 207);
    cursor: pointer;
}